<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}預測結果{% endblock title %}</title>
    {% block scripts %}
    {% include "_scriptsF.html" %}
    {% endblock scripts %}
    {% block styles %}
    {% include "_stylesF.html" %}
    {% endblock styles %}
    <style>
        /* *{
            box-sizing: content-box;
            margin: 0px;
            padding: 0px;
        } */   
    </style>
</head>
<body>
            <!-- Navigation-->
            {% block types_top %}
            {% include "types_top.html" %}
            {% endblock types_top %}
     <!-- About Section-->
     <section class="page-section bgColor1 mb-0" id="aaa">
     <header class="masthead text-center">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
                <div class="col vertical1">
                    <div class="width666 p-3 border bg-light Bradius">
                    <img src="{{ src }}" class="imgF p-3 border bg-light" alt="..."> 
                  </div>
 </div>
                    <div class="col vertical1 Bradius" role="alert">
                        <div class="p-3 border bg-light">
                    <h1 class="col-666 mx-auto display-4 text-center">{{ yourName }}!! {{ predictTypes }}</h1></div>
                    <div class="p-3 border bg-light mm">
                        <h5 class="col-666 mx-auto text-center">
                            簡少年：面相學的起源，來自古人發現有著特定長項特徵的人，較高機率在人生中步上某些特定結局，因此從中歸納出一套可能性理論，這便是面相學的起點。

                            然而，最初的「面相學」與「中醫學」有著緊密的關聯。你會發現在中醫的理論中，離不開面相學的身影；如中醫理論中的「望聞問切」，便是透過觀測一個人的狀態、把脈等，從外觀上初步診斷一個人目前的身體狀況。
                            
                            而其中，中醫又認為人體內的五臟六腑及身體狀況，會隨之影響一個人的情緒性格變化，這些也會同時反映在人的五官上（意旨面相）。因此，我們便能透過面相學，探究出一個人性格上的「不平衡點」與「弱項」，並藉此來判讀一個人未來的「可能」走向。

                        </h5></div>
                </div>
                
                
                </div>
 </div>
   <br> <br> <br>   <br>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="#bbb">
                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    查看更多資訊
                </a>
            </div>
       
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                <tr>
                    <th colspan="2">The table header</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for record in data %} <!--看 py 那的 data 有幾筆來決定-->
                <tr>
                    <td scope="row">
                        {{ record[0] }}
                    </td>
                    <td scope="row">
                        {{ record[1] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</section>
<section class="page-section bgColor1 mb-0" id="bbb"> 
        
  <!-- 預測出的類型回傳眼距圖片 --> 
        
  <div id="h1card">
    <h2 class="text-uppercase mb-0"><i class="fa fa-star" aria-hidden="true"></i>你選擇的類別: {{ predictName }} 相似程度</h2>
    </div>
    <div class="container">
     <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
         <div class="col">
             <div class="card p-3 border bg-light">
 <img src="{{ a3 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
 <div class="card-body">
   <h5 class="card-title"><p>眼距位置:{{ p3 }}</p></h5>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </p>
 </div>
</div></div>

<div class="col">
 <div class="card p-3 border bg-light">
 <img src="{{ a1 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
 <div class="card-body">
   <h5 class="card-title"><p>鼻距位置:{{ p1 }}</p></h5>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </p>
 </div>
</div> </div>

<div class="col">
 <div class="card p-3 border bg-light">
 <img src="{{ a2 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
 <div class="card-body">
   <h5 class="card-title"><p>嘴距位置:{{ p2 }}</p></h5>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </p>
 </div>
</div></div>

<div class="col">
 <div class="card p-3 border bg-light">
 <img src="{{ a4 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
 <div class="card-body">
   <h5 class="card-title"><p>??位置:{{ p4 }}</p></h5>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </p>
 </div>
</div> </div>

<div class="col">
 <div class="card p-3 border bg-light">
 <img src="{{ a5 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
 <div class="card-body">
   <h5 class="card-title"><p>??位置:{{ p5 }}</p></h5>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </p>
 </div></div>
</div>
</div>
</div>
<!-- 選擇的類型回傳眼距圖片 -->  
<br> <br> <br> 
<div id="h1card">
<h2 class="masthead-heading text-uppercase mb-0"><i class="fa fa-star" aria-hidden="true"></i>你選擇的類別: {{ predictName }} 與 預測出的結果: {{yourLikeTypes}} 相似程度</h2>
</div>
<div class="container">
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
 <div class="col">
     <div class="card p-3 border bg-light">
<img src="{{ a8 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
<div class="card-body">
<h5 class="card-title"><p>眼距位置:{{ p8 }}</p></h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</p>
</div>
</div></div>

<div class="col">
<div class="card p-3 border bg-light">
<img src="{{ a6 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
<div class="card-body">
<h5 class="card-title"><p>鼻距位置:{{ p6 }}</p></h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</p>
</div>
</div></div>

<div class="col">
<div class="card p-3 border bg-light">
<img src="{{ a7 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
<div class="card-body">
<h5 class="card-title"><p>嘴距位置:{{ p7 }}</p></h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</p>
</div>
</div> </div>

<div class="col">
<div class="card p-3 border bg-light">
<img src="{{ a9 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
<div class="card-body">
<h5 class="card-title"><p>??位置:{{ p9 }}</p></h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</p>
</div> </div>
</div>

<div class="col">
<div class="card p-3 border bg-light">
<img src="{{ a10 }}" class="imgB card-img-top rounded mx-auto d-block" alt="...">
<div class="card-body">
<h5 class="card-title"><p>??位置:{{ p10 }}</p></h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</p>
</div></div>
</div>
</div>
</div>
<br> <br> <br> 
    <div class="text-center mt-4 padding1">
        <a class="btn btn-xl btn-outline-light" href="uploadPhoto">
            <i class="fas fa-download me-2"></i>
            再測一次
        </a>   
        <a class="btn btn-xl btn-outline-light" href="#aaa">
         <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
     回到最上層
 </a>
    </div>

</div>

</header> 
</section>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; BDSE2204 2022</small></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script> 
<script src="./static/js/scriptsF.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

